<%- include("includes/head.ejs") %>
<body>
    <h2>This profile belongs to <%= data.name %></h2>
    <button>Follow</button>
    <button>Message</button>
    <h3>Followers : <%= data.followers%> &nbsp; &nbsp;Following : <%= data.followings%></h3>
    <hr>
    <div class="post">
        <%for(post of data.posts){%>
        <img src="<%=post.image%>" alt="Loading">
        <h3>likes : <%= post.likes%> &nbsp; &nbsp;Comment : <%= post.comments%></h3>
        <%}%>
    </div>
</body>
</html>